{% import "backend/macros.html" as s with context %}{% extends s.layout() %}

{% block layout_content %}
{% set list = context[scaffolding.plural] %}
<div class="wrapper wrapper-content">
    <div class="row files-box" style="margin-left: 0">
    {%- set n = 0 -%}
    {% for item in list %}
        {%- set n = n + 1 -%}
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 margin-0 padding-1">
            <div class="file ">
                <a href="/{{ item.path }}" class="gallery-item" data-gallery="">
                    <div class="image" style="background-image: url('/{{ item.path }}');"></div>
                    <div class="file-name">
                        <span class="file-name-span">{{ item.name }}
                        <br></span>
                        <small class="hidden-sm hidden-xs">上傳日期：{{ print_value(item.created) }}</small>
                    </div>
                </a>
            </div>
            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
        </div>
    {% endfor %}
    </div>
    {{ s.next_page_link() }}
</div>
{% endblock %}